/* .mapComponent {
  margin: auto;
  /* display: block; */
  /* width: 70%;
  height: 150%; */
  /* margin-top: 20px;
} */ 

/* .mapComponent > div > div {
  border-radius: 50px;
} */

.searchInput {
  font: 400 20px 'Roboto', serif;
  left: 27px;
  height: 67px;
  width: 200px;
  text-overflow: ellipsis;
  position: absolute;
  top: -3px;
} 

@media only screen and (max-width: 1000px) {
  /* .mainComp {
    left: -117px;
    width: 120%;
  } */
  /* .mapComponent {
    margin-left: 120px;
  } */
  .searchInput {
   left: 14px;
  }
  hr {
    width: 80px;
    left: 4px;
  }
}
@media only screen and (max-width: 600px) {
  /* .mainComp {
    left: -117px;
    width: 125%;
  } */
  /* .mapComponent {
    margin-left: 100px;
  } */
  .searchInput {
   left: 14px;
  }
  hr {
    width: 80px;
    left: 4px;
  }
}
@media only screen and (max-width: 450px) {
  .searchInput {
    font: 400 15px 'Roboto', serif;
    width: 130px;
  }
  /* .mainComp {
    left: -27px;
  } */
  /* .mapComponent {
    margin-left: 20px;
  } */
}
