body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: #dddddd
}

div {
  box-sizing: content-box !important;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

#main {
  max-width: 950px;
  margin: 0 auto;
}

/* .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.pac-container {
  position: absolute!important;
}




